<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.intelligentlock">

    <!-- bluetooth permission -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.SelectModelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"/>
        <activity android:name=".activity.ManagerModelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
                  android:launchMode="singleTask"/>
        <activity android:name=".activity.ManagerInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activity.UserModelActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activity.UserActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activity.UserInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activity.SetPassWordActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <service android:name=".LeService"
                 android:enabled="true"
                 android:exported="true"/>

    </application>

</manifest>